.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 4rem 0;
  gap: 2rem;
  margin: auto 2rem;
  background-color: #EDF2F7;
  border-radius: 1rem;
}

.bgContainer {
  width: 100%;
}

.container > h1 {
  font-size: 3rem;
}

.container > p {
  font-size: 1.125rem;
  color: #4A5568;
}

.container > a {
  width: fit-content;
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-size: 1.25rem;
  background-color: #4299e1;
  color: white;
}

.container > a:hover {
  background-color: #3182ce;
}