.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  max-width: 100%;
  padding: 3rem 2rem;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

.row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.link {
  font-size: 1.125rem;
  color: #718096;
}

.link:hover {
  color: #4A5568;
}