.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #f3f4f6;
  max-width: 380px;
  padding: 1rem 2rem;
  gap: .5rem;
}

.card > h3 {
  font-size: 1.25rem;
}

.card:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  border-color: #e5e7eb;
}

.card:hover > h3 {
  text-decoration: underline;
}

.cardHeader {
  display: flex;
  font-size: .875rem;
  gap: .5rem;
  color: #718096;
}

.review {
  color: #4A5568;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}